<template lang="pug">
  v-row
    v-col(
      v-for="(item, key) in entries"
      :key="key"
      cols="12"
      sm="4"
    )
      v-card.pa-2( outlined )
        v-img(
          contain
          height="250"
          :src="findParam(item, 'icon', 'img/helm.svg')"
        )

        v-card-title {{ findParam(item, 'name') }}

        v-card-text {{ findParam(item,'description') }}
          div(
            v-if="findParam(item, 'deprecated', false)"
          )
            v-chip(
              color="red"
              label
              small
              outlined
            ) Deprecated

          v-overflow-btn(
            label="Available versions"
            :items="getVersions(item)"
          )

          .subtitle-1(
            v-if="findParam(item, 'keywords')"
          ) Keywords

          v-chip.ma-1(
            v-for="(keyword, keyId) in findParam(item, 'keywords', [])"
            :key="keyId"
            color="teal darken-3"
            dark
          ) {{ keyword }}

        section(
          v-if="findParam(item, 'home')"
        )
          v-divider

          v-card-actions
            v-btn(
              text
              color="teal"
              :href="findParam(item, 'home')"
              target="_blank"
             ) Project Home
</template>

<script>
/**
 * index.vue
 */

/* Node modules */

/* Third-party modules */

/* Files */

export default {
  computed: {
    entries: (vm) => vm.$store.getters['helm/entries'],
  },

  methods: {
    findParam(items, param, defaultValue = undefined) {
      const item = items.find((item) => item[param]);

      if (item) {
        return item[param];
      }

      return defaultValue;
    },

    getVersions(items) {
      return items.map(({ version }) => version);
    },
  },
};
</script>
