<template lang="pug">
  v-app
    v-app-bar(
      app
      dark
      elevation="0"
    )
      v-toolbar-title {{ title }}

    v-main
      v-container
        nuxt

    v-footer( app )
</template>

<script>
/**
 * default.vue
 */

/* Node modules */

/* Third-party modules */

/* Files */

export default {
  data: () => ({
    title: `${process.env.title}'s Helm Registry`,
  }),
};
</script>
