<template lang="pug">
  div {{ error }}
</template>

<script>
/**
 * error.vue
 */

/* Node modules */

/* Third-party modules */

/* Files */

export default {
  props: {
    error: {
      type: Object,
      default: null,
    },
  },
};
</script>
